.wrapper {
  position: absolute;
  left: 0;
  bottom: -150px;
  height: 100%;
  width: 50%;

  @include device(tablet) {
    justify-content: center;
    position: relative;
    width: 100%;
    bottom: -250px;
    order: 2;
  }

  @include device(tabletLandscape) {
    bottom: -150px;
  }

  @include device(mobile) {
    position: relative;
    width: 100%;
    bottom: 0;
    order: 2;
  }
}

.photo {
  width: 100%;

  @include device(tablet) {
    height: inherit;
    width: auto;
    max-width: 100%;
  }

  @include device(mobile) {
    align-self: flex-end;
    max-height: -webkit-fill-available;
  }
}
