.wrapper {
  gap: 20px;
  margin-bottom: 40px;

  @include device(mobile) {
    margin-bottom: 30px;
    padding-bottom: 15px;
    overflow-x: auto;
    gap: 15px;
  }
}

.filter {
  @include reset-button;

  cursor: pointer;
  transition: color 0.25s ease;
  font-size: 18px;
  color: $text-black;

  &.active,
  &:hover {
    color: $green;
  }

  @include device(mobile) {
    font-size: 16px;
    white-space: nowrap;
  }
}
