.wrapper {
  flex-direction: column;
  position: relative;
  padding: 60px 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    border: 100px solid transparent;
  }

  &::before {
    border-top: 30px solid $white;
    top: 0;
  }

  &::after {
    border-top: 40px solid $background-grey;
    bottom: -140px;
  }

  @include device(mobile) {
    padding: 40px 0;
  }
}
