.logo {
  @include block-center;

  width: 260px;
  font-size: 36px;
  white-space: nowrap;

  @include device(laptop) {
    font-size: 28px;
  }

  @include device(tablet) {
    font-size: 24px;
  }

  @include device(mobile) {
    display: block;
    width: 100%;
    text-align: center;
    white-space: normal;
  }
}
