@mixin breakpoint($breakpoint) {
  @if $breakpoint == desktop {    
    @media (max-width: $breakpoint-desktop-middle) {
      @content;
    }
  } @else if $breakpoint == laptop {
    @media (max-width: $breakpoint-laptop-max) {
      @content;
    }
  } @else if $breakpoint == onlyLaptop {
    @media (min-width: $breakpoint-laptop-min) and (max-width: $breakpoint-laptop-max) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (max-width: $breakpoint-tablet-max) {
      @content;
    }
  } @else if $breakpoint == onlyTablet {
    @media (min-width: $breakpoint-tablet-min) and (max-width: $breakpoint-tablet-max) {
      @content;
    }
  } @else if $breakpoint == mobile {
    @media (max-width: $breakpoint-mobile) {
      @content;
    }
  }
}

@mixin blockCenter {
  display: flex;
  align-items: center;
  justify-content: center; 
}