.wrapper {
  max-height: 270px;
  margin-bottom: 20px;

  @include device(notMobile) {
    height: 270px;
  }
}

.overlay {
  position: relative;
  width: 100%;
}

.block {
  position: absolute;
  inset: 0;
  background: rgb(0 0 0 / 10%);
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
}

.text {
  position: absolute;
  padding: 0 20px;
  z-index: 2;
  text-align: center;
}

.image {
  width: 200px;
  filter: blur(0);
  transition: all 0.1s ease-in;
  cursor: pointer;

  @include device(mobile) {
    width: 150px;
  }

  &.overlay {
    filter: blur(20px);
  }

  &.adult {
    width: 100%;

    @include device(mobileTablet) {
      width: 90%;
    }
  }
}
