$underline-width: 60px;

.title {
  position: relative;
  margin-bottom: 40px;
  text-align: center;

  &::after {
    position: absolute;
    bottom: -7px;
    left: calc(50% - $underline-width / 2);
    display: inline-block;
    width: $underline-width;
    height: 2px;
    background: $green;
    content: "";
  }
}

h1.title {
  font-size: 32px;
}

h2.title {
  font-size: 28px;
}

h3.title {
  font-size: 24px;
}

h4.title, h5.title, h6.title {
  font-size: 18px;
}