.menu {
  @include blockCenter;

  gap: 25px;

  @include breakpoint(laptop) {
    gap: 10px;
  }

  @include breakpoint(tablet) {
    gap: 5px;
  }

  @include breakpoint(mobile) {
    flex-direction: column;
    gap: 10px;
  }
}

.home {
  display: inline-block;
  width: 24px;
  height: 24px;

  @include breakpoint(onlyLaptop) {
    width: 20px;
    height: 20px;
  }

  @include breakpoint(onlyTablet) {
    width: 18px;
    height: 18px;
  }
}