.arrow {
  position: absolute;
  top: 50%;
  box-shadow: none;
  background: none;
  border: none;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 2;
  transition: all 0.25s ease;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    color: $gray;
  }

  &:hover:not(:disabled) {
    transform: scale(110%);
    color: $green;
  }
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
  transform: rotate(180deg) !important;
}

.fullScreen {
  background-color: $white;
  border-radius: 50%;
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
}
