@use "./variables" as *;

@mixin device($device) {
  @if $device == mobile {
    @media (max-width: $tablet) {
      @content;
    }
  } @else if $device == tablet {
    @media (width >= calc($tablet + 1px)) and (max-width: $laptop) {
      @content;
    }
  } @else if $device == laptop {
    @media (width >= calc($laptop + 1px)) and (max-width: $desktop) {
      @content;
    }
  } @else if $device == desktop {
    @media (width >= calc($desktop + 1px)) {
      @content;
    }
  } @else if $device == mobileTablet {
    @media (max-width: $laptop) {
      @content;
    }
  } @else if $device == laptopDesktop {
    @media (width >= calc($laptop + 1px)) {
      @content;
    }
  } @else if $device == tabletLaptop {
    @media (width >= calc($tablet + 1px)) and (max-width: $laptop) {
      @content;
    }
  } @else if $device == tabletLandscape {
    @media (width >= calc($tablet + 1px)) and (max-width: $laptop) and (orientation: landscape) {
      @content;
    }
  }
}

@mixin block-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
