.label {
  position: relative;
  flex: 1 1 calc(100% / 3);
  text-align: center;
  color: $white;
  transition: color 0.25s ease-in-out;
  z-index: 2;
  cursor: pointer;
}

.input {
  display: none;

  &:checked + .label {
    color: $green;
  }
}
