.title {
  position: relative;
  font-size: 28px;
  text-align: center;
  margin-bottom: 40px;

  &::after {
    $underlineWidth: 60px;

    content: "";

    display: inline-block;
    width: $underlineWidth;
    height: 2px;

    position: absolute;
    bottom: -7px;
    left: calc(50% - $underlineWidth / 2);

    background: var($green);
  }
}
