.section {
  padding: 60px;

  @include device(mobileTablet) {
    flex-direction: column;
  }
}

.grey {
  background: $background-grey;
}

.scrollId {
  position: relative;
  top: calc(0px - $header-height);
}
