.element {
  font-size: 22px;

  @include device(laptop) {
    font-size: 18px;
  }

  @include device(tablet) {
    font-size: 16px;
  }

  @include device(mobile) {
    font-size: 18px;
  }
}

.link {
  white-space: nowrap;

  &.active,
  &:hover {
    color: $green;
  }
}
