.wrapper {
  gap: 20px;
  width: 80%;
  margin: 0 auto;

  @include device(mobileTablet) {
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  @include device(mobile) {
    gap: 0;
  }
}

.icon {
  width: 48px;
  max-width: 48px;
}
