.wrapper {
  flex-direction: column;
  position: relative;
  padding: 60px 0;

  @include device(mobile) {
    padding: 20px 0;
  }
}

.image {
  width: 100%;
  max-width: 250px;

  @include device(tabletLaptop) {
    max-width: 200px;
  }

  @include device(mobile) {
    width: 100%;
    max-width: 100%;
  }
}
