.wrapper {
  color: $text;
  font-size: 20px;
  margin-top: 20px;
  gap: 10px;

  @include device(laptop) {
    font-size: 18px;
  }

  @include device(mobileTablet) {
    font-size: 16px;
  }

  @include device(tablet) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.element {
  gap: 10px;

  @include device(tablet) {
    width: 49%;
  }
}

.content {
  gap: 5px;
  width: 100%;
}

.icon {
  width: 24px;
  height: 24px;
  color: $green;
  flex-shrink: 0;
}

.title {
  font-weight: 700;
  line-height: 24px;
  flex: 0 0 130px;

  @include device(tablet) {
    flex-basis: 116px;
  }
}

.value {
  line-height: 24px;
}
