.aboutMe {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 0 60px 60px;
}

.about-me .row {
  display: flex;
  width: 100%;
  gap: 60px;
}

.about-me .left {
  flex: 1 1 40%;
}
.about-me .right {
  flex: 1 1 60%;
}

.about-me__image {
  width: 350px;
  margin-left: auto;
  border-radius: 10px;
  filter: drop-shadow(10px 10px 10px var(--background-black-opacity));
}

.about-me__title {
  font-size: 36px;
}

.about-me__description {
  font-size: 20px;
  color: var(--color-text);
  margin-bottom: 15px;
}

ul.about-me__extra {
  color: var(--color-text);
  font-size: 20px;
  margin-top: 20px;
}

.about-me__extra-element {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.about-me__extra-element:last-of-type {
  margin-bottom: 0;
}

.about-me__extra-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.about-me__extra-icon svg {
  color: var(--color-green);
}

.about-me__youtube {
  flex-direction: column;
  margin-top: 20px;
}

.about-me__iframe {
  border-radius: 10px;
  filter: drop-shadow(10px 10px 10px var(--background-black-opacity));
}

.support-button {
  position: relative;
  display: inline-flex;
  height: 45px;
  padding: 0 15px;
  margin-top: 20px;
  font-size: 18px;
  line-height: 45px;
  background: var(--color-green);
  color: var(--color-white);
  text-decoration: none;
  border-radius: 4px;
  opacity: 0.9;
  transition: 0.1s ease;
}
.support-button:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border: 2px solid var(--background-light-black-opacity);
  border-radius: 4px;
  transform: rotate(-5deg);
  transition: all 0.25s ease;
}

.support-button:hover {
  opacity: 1;
}
.support-button:hover::before {
  transform: rotate(0);
}
